<html>
<head>
    <link rel="stylesheet" href="index.css"/>
</head>

<body >
<h1>0x330a furl site</h1>
<p>gm and welcome to my website test. Follow me on farcaster @0x330a</p>
<p>Current links:</p>
<ul>
    <li>
        <a href="https://warpcast.com/0x330a">
            farcaster profile on warpcast
        </a>
    </li>
    <li>
        <a href="https://github.com/0x330a-public">
            github profile
        </a>
    </li>
    <li>
        <a href="https://github.com/0x330a-public">
            fatline-rs library - a Rust library for interacting with Farcaster protocol
        </a>
    </li>
    <li>
        <a href="https://github.com/0x330a-public/fatline-client">
            fatline android app - used to set my profile's URL
        </a>
    </li>
    <li>
        <a href="https://github.com/0x330a-public/fatline-server">
            fatline web server - application backend, interface between mobile and hub using fatline-rs
        </a>
    </li>
</ul>
</body>
</html>
